<footer class="footer bg-primary">
  <div class="container center">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4">
          <h5 class="text-light">Météo</h5>
          
          <div id="cont_5fd4d48b4859f8b2d9dc92bfc0e54e2c"></div>
      </div>
      <div class="col-12 col-lg-4">
          <h5 class="text-light">Restez connecté !</h5>
          <ul style="display: inline-flex;">
            <li><a class="white-text" href="#!"><i class="fa fa-3x fa-facebook-official text-light" aria-hidden="true"></i></a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a class="white-text" href="#!"><i class="fa fa-3x fa-instagram text-light" aria-hidden="true"></i></a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li><a class="white-text" href="#!"><i class="fa fa-3x fa-twitter-square text-light" aria-hidden="true"></i></a></li>
          </ul>
      </div>
      <div class="col-12 col-lg-4">
          
      </div>
      <!-- <a class="nav-link js-scroll-trigger" href="">COMPANY &copy; 2018</a> -->
    </div>
  </div>
</footer>