<footer class="footer bg-primary">
    <div class="row justify-content-center" style="margin-right: 0 !important; padding-top: 20px;">
      <div class="col-12 col-lg-4" style="padding-right: 0;" >
          <h3 class="text-light text-center">Météo</h3>
          <div class="weather-container">
              <a class="weatherwidget-io" style="border-radius: 20px;" href="https://forecast7.com/fr/41d658d87/portigliolo/" data-label_1="PORTIGLIOLO" data-label_2="Météo" data-icons="Climacons Animated" data-days="3" data-theme="marine" >PORTIGLIOLO Météo</a>
          </div>
      </div>
      <div class="col-12 col-lg-4">
          <h3 class="text-light text-center">Restez connecté !</h3>
          <div class="text-center">
            <ul style="display: inline-flex; padding-top: 20px; padding-left: 0px;">
              <li><a class="white-text" href="#!"><i class="fa fa-3x fa-facebook-official text-light" aria-hidden="true"></i></a></li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li><a class="white-text" href="#!"><i class="fa fa-3x fa-instagram text-light" aria-hidden="true"></i></a></li>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li><a class="white-text" href="#!"><i class="fa fa-3x fa-twitter-square text-light" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="text-center">
          <img src="assets/img/ffv.png">
        </div>
      </div>
      <div style="width: 100%; background-color: rgba(0,0,0,0.2)">
          <a class="nav-link js-scroll-trigger text-light text-center" href="">© 2017 Copyright Aqualoisirs / Cyprien CONNET</a>
      </div>
    </div>
</footer>